[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "_colorschemes/vividchalk"]
	path = _colorschemes/vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = http://github.com/mattn/gist-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = http://github.com/godlygeek/csapprox.git
[submodule "bundle/vim-templates"]
	path = bundle/vim-templates
	url = http://github.com/hariton/simple-vim-templates.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = http://github.com/jc00ke/taglist.vim.git
[submodule "bundle/secure-modelines"]
	path = bundle/secure-modelines
	url = http://github.com/ciaranm/securemodelines.git
