[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "_colorschemes/vividchalk"]
	path = _colorschemes/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-templates"]
	path = bundle/vim-templates
	url = https://github.com/hariton/simple-vim-templates.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/jc00ke/taglist.vim.git
[submodule "bundle/secure-modelines"]
	path = bundle/secure-modelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = http://repo.or.cz/r/vcscommand.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/rson/vim-conque.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/ruby-refactoring"]
	path = bundle/ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "_colorschemes/mojombo_twilight"]
	path = _colorschemes/mojombo_twilight
	url = git://gist.github.com/796172.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "_colorschemes/solarized"]
	path = _colorschemes/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "_colorschemes/jellybeans"]
	path = _colorschemes/jellybeans
	url = https://github.com/vim-scripts/jellybeans.vim.git
[submodule "bundle/vim-chef"]
	path = bundle/vim-chef
	url = https://github.com/t9md/vim-chef
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/powershell"]
	path = bundle/powershell
	url = https://github.com/vim-scripts/Windows-PowerShell-Syntax-Plugin.git
[submodule "bundle/golden-ratio"]
	path = bundle/golden-ratio
	url = git://github.com/roman/golden-ratio.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
