[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "_colorschemes/vividchalk"]
	path = _colorschemes/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/vim-templates"]
	path = bundle/vim-templates
	url = https://github.com/hariton/simple-vim-templates.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/jc00ke/taglist.vim.git
[submodule "bundle/secure-modelines"]
	path = bundle/secure-modelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/edsono/vim-bufexplorer.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = https://repo.or.cz/r/vcscommand.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/rson/vim-conque.git
[submodule "bundle/ctk"]
	path = bundle/ctk
	url = https://github.com/vim-scripts/ctk.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
